# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances
node_modules/

# Build / Distribution
dist/
dist-ssr/
release/

# Environnement
.env
.env.local
.env.production
*.local

# Electron cache
.electron-builder/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/

# Projekt / Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

